@media screen and (min-width: 1200px) {
    .reurl-all-content {
        width: 60%;
        .title-content {
            a {
                font-size: 18px;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .reurl-all-content {
        width: 70%;
        .title-content {
            a {
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .reurl-all-content {
        width: 90%;
        .title-content {
            a {
                font-size: 12px;
            }
        }
    }
}

.reurl-all-content { 
    min-height: 500px;
    .title-content {
        li {
            background-color: #3B4252;
            border-radius: 5px;
            width: 24%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
        a {
            color: #D8DEE9;
        }
    }
    .nav .nav-item .nav-link.active {
        color: #ECEFF4;
        background-color: #545f75;
      }
    .tab-content {
        padding-top: 25px;
    }
    .videourl-raw {
        color: black;
    }
    .testurl-raw {
        color: black;
    }
}
