.all-content {
    width: 60%;

    .title-comtent {
        // background-color: #21252B;
        
        li {
            // background-color: #282C34;

            border-radius: 5px;
        }
    }
    
    .reurl-raw {
        color: black;
    }
    .imgurl-raw {
        color: black;
    }
    .videourl-raw {
        color: black;
    }
}

