.all-content {
    width: 50%;
    .title-content {
        li {
            background-color: #3B4252;
            border-radius: 5px;
            width: 24%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
        a {
            color: #D8DEE9;
            font-size: 18px;
        }
    }
    .nav .nav-item .nav-link.active {
        color: #ECEFF4;
        background-color: #545f75;
      }
    .tab-content {
        padding-top: 25px;
    }
    .reurl-raw {
        color: black;
        .reurl-btn {
            background-color: #545f75;
        }
        .reurl-btn:hover {
            .bi {
                color: rgba(255, 255, 255) ;
            }
        }
        .bi {
            color: rgba(255, 255, 255, 0.5) ;
        }
    }
    .imgurl-raw {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        border: dashed rgba(84, 95, 117, 0.5);
        background-color: rgba(84, 95, 117, 0.01);
        color: #2c3e50;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
    }
    .videourl-raw {
        color: black;
    }
    .testurl-raw {
        color: black;
    }
}

