.all-container {
    height: 100vh;
}

.top-container {

    color: black;

    .top-detail {
        width: 60%;

        .title-content {
            font-size: 32px;
            font-weight: bold;
        }
    
        .description-content {
            font-size: 14px;
            color:	#8E8E8E;
        }
    
        .about-content {
            font-size: 14px;
            outline:none;
        }
    }

}

.bottom-container {

}