.all-container {
    padding-top: 100px;
}
.animate__animated.animate__rotateInDownLeft {
    --animation-duration: 2s;
}
.title-container {
    color: #282C34;
    .top-detail {
        width: 60%;
        position: relative;
        .title-content {
            font-size: 60px;
            font-weight: bold;
            .reindeer-img {
                filter: invert(90%);
                width: 280px;
                position: absolute;
                top: 70px;
                right: -50px;
                z-index: -1;
            }
        }
        .copyright-reindeer {
            color: rgba(0,0,0,0.5);
            font-size:12px;
            position: absolute;
            top: 80%;
        }
        .description-content {
            // border-top: 1px solid black;
            font-size: 14px;
            color:	#8E8E8E;
        }
    }
}
.content-container {
    background-color: #fafafa;
}