.all-container {
    height: 100%;
    padding-top: 190px;
}
.animate__animated.animate__rotateInDownLeft {
    --animation-duration: 2s;
}
.top-container {
    color: #282C34;

    .top-detail {
        width: 50%;
        position: relative;
        .title-content {
            font-size: 60px;
            font-weight: bold;
            .reindeer-img {
                position: absolute;
                top: -13px;
                right: -20px;
                z-index: -1;
            }
        }
    
        .description-content {
            // border-top: 1px solid black;
            font-size: 14px;
            color:	#8E8E8E;
        }
    }
}
