.img-container {
  height: 700px;
  position: relative;
  .save-btn {
    position: absolute;
    right: 30px;
    top: 15px;
    color: white;
    background-color: #fdba3b;
    padding: 5px 30px;
    border-radius: 20px;
  }
}